.communityPhotoContainer {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px; // Optional: Adds some padding around the entire container
  color: red;
}