// $header-color: #333; // primary color
$header-color: #EDEDED;  // primary color
$accent-color: #E27272; // accent color

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px 0px 5px 0px;
  background-color: $header-color;

  .contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;

    .logoDateContainer {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }

  h1 {
    color: black;
  }

  img {
    cursor: pointer;
  }
}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  .tutorialButton {
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #363636;
    color: black;

    // hover to red 
    &:hover {
      background-color: $accent-color;
      color: white;
    }
  }

  .dailyButton {
    height: 35px;

    &:hover {
      background-color: #70737a;
    }
  }

  button {
    background-color: #363636;
    border-radius: 7px;
    margin-bottom: 13px;
  }
}