.headerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #D4D6DA;
  height: 60px;

  h1 {
    color: black;
  }

}

.headerNav {
  display: flex;
  align-items: end;
}