.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px 0px 10px 0px;
  background-color: #EDEDED;


  h1 {
    color: black;
  }

  .stageButtonHeader {
    background-color: #8f8e8e;
    margin: 5px;
    border-radius: 5px;
    // border: 1px solid #757575;
    font-size: 13px;
    // font-weight: 500;
    // background-color: #363636;
  }

}

.headerNav {
  display: flex;
  align-items: end;
  margin-top: 20px;
}