.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
  

  .mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    height: 100vh;

    img {
      height: auto;
      // width: 500px;
      opacity: 99%;
      margin-top: 150px;
      margin-bottom: 50px;
    }

    .buttonContainer {

      display: flex;
      gap: 50px;

      button {
        font-size: 18px;
        justify-content: center;
        padding: 20px 40px 40px 40px;
        width: 150px;
        font-weight: bold;
        background-color: #E27272;
        border: 2px solid #E27272;
        transition-duration: 0.4s;
        vertical-align: middle;
        color: white;
        border-radius: 5px;
        
        cursor: pointer;
      }

      button:hover {
        justify-content: center;
        font-weight: bold;
        background-color: white;
        border: 2px solid #E27272;
        transition-duration: 0.4s;
        vertical-align: middle;
        color: #E27272;
        border-radius: 5px;
        width: 150px;
        cursor: pointer;
      }
    }
  }

  .tutorialText {
    position: relative;
    // top: 40vh; // This will position the text right below the viewport regardless of its height
    max-width: 680px;
    margin: 0 auto;
    text-align: left;
    
    .tutorialHeader {
      flex-shrink: 0;
      color: #000;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    .tutorialHeader2 {
      flex-shrink: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: normal;
      color: #E27272;
      margin-bottom: 10px;
    }

    .tutorialParagraph{
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      margin-top: 10px;
      margin-bottom: 60px;
    }

  }

}

#video{
  position: absolute;
  z-index: -1;
  // width: 100%;
  height: 100%;
}