.resultsModal {
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  text-align: center;
  border-radius: 10px;


  .exitButton {
    cursor: pointer;
    display: flex;
    justify-self: flex-end;
  }
}

.headerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}

.buttonsModal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imagesModal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  max-width: 100%;
}

.imagesModal-container img {
  max-width: 100%;
  height: auto;
}

.shareResultsButton {
  margin-top: 22px;
}

.backButton {
  display: flex;
}

.infoTextBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 85%;

  h3 {
    width: 35%;
    text-align: left;
  }

  p {
    text-align: left;

  }
}