.results-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; 
    align-items: flex-start; 
    height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.score-card {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 200px; 
    height: 100vh;
    margin: 0px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); 
        z-index: 1;
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
        color: #ffffff;
    }

    .stage-name {
        font-family: Mulish, sans-serif;
        font-size: 24px; 
        font-weight: 700;
        margin: 0 0 10px; 
        text-transform: uppercase; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        transform-origin: center;
        white-space: nonwrap;
    }

    .stage-score {
        font-size: 2.5em;
        font-weight: bold;
        position: relative;
        top: 35%;
    }

    // Background images for each stage
    &.brightness {
        background-image: url('../assets/brightness.jpg');
    }
    &.contrast {
        background-image: url('../assets/contrast.jpg');
    }
    &.saturation {
        background-image: url('../assets/saturation.jpg');
    }
    &.grayscale {
        background-image: url('../assets/greyscale.jpg');
    }
    &.sepia {
        background-image: url('../assets/sepia.jpg');
    }
    &.hue-rotate {
        background-image: url('../assets/hue_rotate.jpg');
    }
    &.blur {
        background-image: url('../assets/blur2.jpg');
    }
}
